<input type="text" [(ngModel)]="searchTitle" placeholder="Enter a title">
<button (click)="searchByTitle()">Search</button>
<p [ngStyle]="{ color: searchResult ? 'green' : 'red' }">{{ searchMessage }}</p>

<div *ngFor="let content of contents | typeFilter: ''" [class.highlight]="content.title === searchTitle"></div>
  
<h2>Content with No Type</h2>
<app-content-card *ngFor="let content of contents | typeFilter:''" [content] = "content"></app-content-card>

<h2>Content with American Cars</h2>
<app-content-card *ngFor="let content of contents | typeFilter: 'American'" [content] = "content"></app-content-card>

<h2>Content with Japanese Cars</h2>
<app-content-card *ngFor="let content of contents | typeFilter: 'Japanese'" [content] = "content"></app-content-card>