<div [id]="car.id" [ngClass]="['card', class]" appHoverAffect="border">

  <div *ngIf="car.image; else defaultImage">
      <img  [src]="car.image" alt={{car.title}} (click)="handleClick(car)">
  </div>
  <ng-template #defaultImage>
      <img [src]="defaultCar" alt={{car.title}} (click)="handleClick(car)">
  </ng-template>

  <h2>{{car.title}}</h2>
  <p>{{car.description}}</p>
  <p><strong>Creator:</strong> {{car.creator}}</p>
  <p *ngIf="car.type" appHoverAffect="underline"><strong>Type:</strong> {{car.type}}</p>
  <p *ngIf="car.tags"><strong>Tags:</strong> 
      <span *ngFor="let tag of car.tags" appHoverAffect="bold">#{{ tag }}</span>
  </p>
</div>